:root {
	--bpl-dashboard-primary-color: #4dc3b6;
	--bpl-dashboard-primary-color-rgb: 77, 195, 182;
	--bpl-dashboard-secondary-color: #637cb3;
	--bpl-dashboard-secondary-color-rgb: 99, 124, 179;
	--bpl-dashboard-title-color: #070127;
	--bpl-dashboard-title-color-rgb: 7, 1, 39;
	--bpl-dashboard-content-color: #1b2e4b;
	--bpl-dashboard-content-color-rgb: 27, 46, 75;
}

@import '../../../bpl-tools/Admin/style.scss';